<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerElements}}
</head>

<body>
    {{>navbar}}

    <div class="container main-header">
        <div class="row">
            <div class="col-lg-5 col-11 mx-auto header-right" data-aos="fade-right">
                <img src="/images/about.svg" alt="..." class="about-img img-fluid">
            </div>
            <div class="col-lg-5 col-11 mx-auto header-left" data-aos="fade-left">
                <h2>Welcome to Weather App</h2>
                <h5>This is a practice project which I made while learning Node and Express. You can check my github profile here.</h5>
                <a href="https://github.com/paramkeshkamat" target="_blank"><button>Check Now</button></a>
            </div>
        </div>
    </div>

    {{>footer}}
    
    {{>jslinks}}
</body>

</html>